<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="RollingFileAppender_Debug" />
    <appender-ref ref="ConsoleAppender" />

  </root>

  <logger name="DebugLogger">
    <level value="DEBUG" />
    <appender-ref ref="RollingFileAppender_Debug" />
  </logger>

  <logger name="InfoLogger">
    <level value="INFO" />
    <appender-ref ref="RollingFileAppender_Info" />
  </logger>

  <logger name="ErrorLogger">
    <level value="ERROR" />
    <appender-ref ref="RollingFileAppender_Error" />
  </logger>

  <appender name="RollingFileAppender_Error" type="log4net.Appender.RollingFileAppender">
    <file value="..\.\Log\Error\Error.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %property{MUID} [%thread] %level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <appender name="RollingFileAppender_Info" type="log4net.Appender.RollingFileAppender">
    <file value="..\.\Log\Info\Info.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %property{MUID} [%thread] %level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <appender name="RollingFileAppender_Debug" type="log4net.Appender.RollingFileAppender">
    <file value="..\.\Log\Debug\Debug.log" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %property{MUID} [%thread] %level %logger - %message%newline%exception" />
    </layout>
  </appender>

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %property{MUID} [%thread] %level %logger - %message%newline%exception" />
    </layout>
  </appender>

</log4net>