<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true"
  internalLogFile="c:\temp\nlog-internal.log"
  internalLogLevel="Info">

  <variable name="logDirectory" value="c:/logs/wormhole/dev/worker"/>
  <!-- the targets to write to -->
  <targets>
    <!-- write logs to file  -->
     <target xsi:type="File" name="kafka" fileName="${logDirectory}\kafka-${shortdate}.log"
            maxArchiveFiles="50" archiveNumbering="Sequence" archiveAboveSize="104857600"
            layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}" /> 

        <target xsi:type="File" name="info" fileName="${logDirectory}\info-${shortdate}.log"
            maxArchiveFiles="50" archiveNumbering="Sequence" archiveAboveSize="104857600"
            layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}" />
 
        <target xsi:type="File" name="error" fileName="${logDirectory}\error-${shortdate}.log"
            maxArchiveFiles="50" archiveNumbering="Sequence" archiveAboveSize="104857600"
            layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}" />
    
        <target xsi:type="File" name="debug" fileName="${logDirectory}\debug-${shortdate}.log"
            maxArchiveFiles="50" archiveNumbering="Sequence" archiveAboveSize="104857600"
            layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}" />
    
        <target xsi:type="File" name="trace" fileName="${logDirectory}\trace-${shortdate}.log"
            maxArchiveFiles="50" archiveNumbering="Sequence" archiveAboveSize="104857600"
            layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="warning" fileName="${logDirectory}\warning-${shortdate}.log"
            maxArchiveFiles="50" archiveNumbering="Sequence" archiveAboveSize="104857600"
            layout="${longdate}|${event-properties:item=EventId_Id}|${logger}|${message} ${exception:format=tostring}" />
    
       
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <logger name="*" level="Debug"  writeTo="debug" />
    <logger name="KafkaConsumer" writeTo="kafka" final="true"/>
    <logger name="*" level="Info" writeTo="info" />
    <logger name="*" level="Error"  writeTo="error" />
    <logger name="*" level="Trace"  writeTo="trace" />
    <logger name="*" level="Warn"  writeTo="warning" />
  </rules>
</nlog>